In [28]:
import os
os.makedirs(os.path.join('..', 'data'), exist_ok=True)

data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file,'w') as f:
    f.write('''NumRooms,RoofType,Price
NA,NA,127500
2,NA,10600
4,Slate,178100
NA,NA,140000''')

# import pandas as pd
#
# data = pd.read_csv(data_file)
# print(data)

   NumRooms RoofType   Price
0       NaN      NaN  127500
1       2.0      NaN   10600
2       4.0    Slate  178100
3       NaN      NaN  140000

In [29]:
# print(data['RoofType'].dtype)

object

In [30]:
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms RoofType   Price
0       NaN      NaN  127500
1       2.0      NaN   10600
2       4.0    Slate  178100
3       NaN      NaN  140000

In [31]:
inputs, targets = data.iloc[:, 0:2], data.iloc[:, 2]
inputs = pd.get_dummies(inputs, dummy_na=True)
# print(inputs)

In [1]:
inputs

NameError: name 'inputs' is not defined

In [39]:
inputs = inputs.fillna(inputs.mean())
print(inputs)

   NumRooms  RoofType_Slate  RoofType_nan
0       3.0           False          True
1       2.0           False          True
2       4.0            True         False
3       3.0           False          True

In [38]:
import torch

x = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(targets.to_numpy(dtype=float))
x, y

(tensor([[3., 0., 1.],
         [2., 0., 1.],
         [4., 1., 0.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500.,  10600., 178100., 140000.], dtype=torch.float64))

In [43]:
print(type(inputs.to_numpy(dtype=float)))

<class 'numpy.ndarray'>